html {
	width: 100%;
	height: 100%;
	background-color: black; /* This is needed when browsers round percentage values down, creating a gap between the editor and the stage. */
}

body {
	width: 100%;
	height: 100%;
}

.editor {
	width: 100%;
	height: 100%;
	
	@include flexbox(column);

	.adventure-controls {
	}
	
	.message {
	}
	
	.scene-controls {
		@include flex(1);
		@include flexbox(row);
		
		.view-list {
			@include flex(1);
			@include flexbox(column);

			/* ">" selector because we should not affect other tab content lists. */
			> .tab-content-list {
				@include flex(1);
				@include flexbox(column);

				> * {
					@include flex(1);
					overflow: auto;
				}
			}
			
			.scene-view {
				@include flexbox(row);
				overflow: auto;

				.scene-list {
					@include flex(0.4);
					@include flexbox(column);
					overflow: auto;
					
					ul {
						@include flex(1);
						overflow: auto;
					}
				}

				.scene-editor {
					@include flex(0.6);
					overflow: auto;
				}
			}
		}
		
		.scene-player {
		}
	}
}

.splash {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}