html {
	width: 100%;
	height: 100%;
	background-color: black; /* This is needed when browsers round percentage values down, creating a gap between the editor and the stage. */
}

body {
	width: 100%;
	height: 100%;
}

.editor {
	width: 100%;
	height: 100%;
	
	@include flexbox(column);

	.adventure-controls {
	}
	
	.message {
	}
	
	.scene-controls {
		@include flex(1);
		@include flexbox(row);
		
		.view-list {
			@include flex(1);
			@include flexbox(column);

			/* ">" selector because we should not affect other tab content lists. */
			> .tab-content-list {
				@include flex(1);
				@include flexbox(column);

				> * {
					@include flex(1);
				}
				
			}
			
			.scene-view {
				@include flexbox(row);

				.scene-list {
					@include flex(0.4);
					overflow: auto;
				}

				.scene-editor {
					@include flex(0.6);
					overflow: auto;
				}
			}
		}
		
		.scene-player {
			.stage {
				width: 16em;
				height: 10em;
			}
		}
	}
}

/* Make sure that the stage editor is above the layers on the stage. */
.stage-editor {
	position: absolute;
	top: 0;
	right: 0;
}

.splash {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}