.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	overflow: hidden;
	
	.layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		cursor: inherit;

		.image {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 100%;
		}

		.text.outer {
			position: relative; /* Needs to be positioned in order to stack above image, which is also positioned. */
			display: table;
			height: 100%;
			margin: 0 auto;
			font-family: serif;
		}

		.text.inner {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			white-space: pre-line;
			text-rendering: optimizeLegibility;
		}
	}
}