.stage {
	position: relative;
	background-color: black;
	overflow: hidden;
	
	.layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: inherit;
		
		.scene {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
			.image {
				position: absolute;
				top: 0;
				left: 0;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				display: block;
				width: 100%;
				height: 100%;
			}

			.text.outer {
				position: relative; /* Needs to be positioned in order to stack above image, which is also positioned. */
				display: table;
				height: 100%;
				margin: 0 auto;
				font-family: serif;
			}

			.text.inner {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				color: white;
				white-space: pre-line;
				text-rendering: optimizeLegibility;
			}
		}
	}
	
	form {
		/* The cursor should always be visible above the stage GUI, even when the pointer over the stage is hidden. */
		cursor: auto;
	}
}