@mixin flexbox($direction) {
	display: flex;
	display: -webkit-flex;
	flex-direction: $direction;
	-webkit-flex-direction: $direction;
}

@mixin flex($value) {
	flex: $value;
	-webkit-flex: $value;
}

@mixin flex-wrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

@import "defaults";
/*@import "debug";*/
@import "layout";
@import "style";
@import "stage";