<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>RPG Ambience</title>
		
		<link rel="stylesheet" href="ambience.css">
		<link rel="icon" type="image/png" href="images/icon.png">
		
		<script>
			window.URL = window.URL || window.webkitURL;
			window.indexedDB = window.indexedDB || window.webkitIndexedDB;
		</script>
		
		<script src="source/extensions.js"></script>
		<script src="libraries/angular.js"></script>
		<script src="libraries/angular-ui.js"></script>
		
		<script src="libraries/splitter.js"></script>
		<script src="libraries/key.js"></script>
		<script src="libraries/object-url-from-data-url.js"></script>
		
		<script src="libraries/ambience-stage/libraries/manymation/source/manymation.js"></script>
		<script src="libraries/ambience-stage/source/Stage.js"></script>
		<script src="libraries/ambience-stage/source/MediaPlayers/Background.js"></script>
		<script src="libraries/ambience-stage/source/MediaPlayers/Image.js"></script>
		<script src="libraries/ambience-stage/source/MediaPlayers/Sound.js"></script>
		<script src="libraries/ambience-stage/source/MediaPlayers/Text.js"></script>
		<script src="libraries/ambience-stage/source/Scene.js"></script>
		
		<script src="source/Controller.js"></script>
		<script src="source/Adventure.js"></script>
		<script src="source/Adventure.upgrade.js"></script>
		<script src="source/AdventureLibrary.js"></script>
		<script src="source/MediaLibrary.js"></script>
		<script src="source/App.js"></script>
	</head>
	<body data-ng-controller="Ambience.App">
		<div id="theater" class="theater">
			<div id="background" class="layer"></div>
			<div id="background" class="layer"></div>
		</div>
		<div id="interface" class="interface">
			<div
				id="editor"
				class="editor"
				data-ng-show="editorIsVisible">
				<div class="menu-bar">
					<ul class="action-list adventure">
						<li class="action">
							<select
								data-ng-model="adventure"
								data-ng-options="a.dropdownTitle for a in adventures"></select>
						</li>
						<li class="action new">
							<button
								type="button"
								data-ng-click="createAdventure()">New Adventure</button>
						</li>
						<li class="action rename">
							<form data-ng-submit="stopRename()">
								<button
									id="rename-button"
									type="button"
									data-ng-hide="renameInProgress"
									data-ng-click="startRename()">Rename Adventure</button>
								<input
									id="rename-input"
									type="text"
									data-ng-model="adventure.title"
									data-ng-show="renameInProgress"
									ui-event="{ blur: stopRename }">
								<input type="submit" value="crap">
							</form>
						</li>
						<li class="action delete">
							<button type="button"></button>
						</li>
					</ul>
					<ul class="action-list playback">
						<li class="action play">
							<button type="button">Play</button>
						</li>
						<li class="action stop">
							<button type="button">Stop</button>
						</li>
					</ul>
				</div>
			</div>
			<div id="gui-editor" class="gui-editor">
				<form id="gui-editor-form" class="gui-editor-form">
					<ul class="action-list">
						<li class="action toggle">
							<button type="button">Show Editor</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div id="splash" class="splash">
			<div id="splash-loading">
				<p>Loading RPG Ambience…</p>
			</div>
			<div id="splash-unsupported" style="display: none">
				<p>Unfortunately, your browser does not support RPG Ambience.</p>
				<p>RPG Ambience is known to work in the following browsers:</p>
				<ul>
					<li>Google Chrome 23</li>
					<li>Internet Explorer 10</li>
					<li>Mozilla Firefox 16</li>
				</ul>
			</div>
		</div>
	</body>
</html>
