/* Default styling */

* {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

img {
	border: 0px;
}

li {
	display: block;
	list-style-type: none;
}

*[title] {
	cursor: help !important;
}

label {
	white-space: nowrap;
}

label[for], label > span {
	cursor: pointer;
}

button, input, select, textarea {
	font-size: 1em;
}

button, input[type=radio], input[type=checkbox] {
	cursor: pointer;
}

.interface button {
	height: 2em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	/* box-sizing is needed to make buttons and inputs equally wide. */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input, textarea {
	padding: 0.125em 0.25em;
	/* box-sizing is needed to make buttons and inputs equally wide. */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

input[type=number] {
	width: 4em;
}

div, li {
	border-width: 0;
	border-style: solid;
	border-color: hsl(0, 0%, 25%);
}

/* Multi-purpose classes */

.note {
	color: hsl(0, 0%, 40%);
}

.primary {
	display: block;
	overflow: hidden;
	height: 2em;
}

.secondary {
	float: right;
}

.tab-list > * {
	display: block;
	float: left;
	background-color: hsl(0, 0%, 10%);
	border: 1px solid hsl(0, 0%, 25%);
	border-bottom-width: 0;
	margin-right: 0.5em;
}

.tab-list > *:hover {
	background-color: hsl(0, 0%, 12.5%);
}

.tab-list > *.selected {
	background-color: hsl(0, 0%, 17.5%);
}

	.tab-list > * a {
		display: block;
		padding: 0.25em 0.5em;
		text-decoration: none;
		color: hsl(0, 0%, 75%);
	}

.ui-sortable > * {
cursor: move;
}

.ui-sortable-helper {
	cursor: move !important;
}

/* Layout */

html {
	width: 100%;
	height: 100%;
	background-color: black; /* This is needed when browsers round percentage values down, creating a gap between the editor and the theater. */
}

body {
	width: 100%;
	height: 100%;
}

.editor, .theater-overlay, .theater {
	position: absolute;
	top: 0;
	height: 100%;
}

.editor, button, select, input, textarea {
	font-family: Georgia, serif;
}

input[type=text], input[type=number], input[type=color], select, textarea {
	background-color: black;
	color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 25%);
}

.editor {
	left: 0;
	width: 75%;
	line-height: 1.5;
	overflow: auto;
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 75%);
}

	.editor > .menu-bar {
		position: absolute;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		line-height: 2em;
		padding: 1em 2em 0 2em;
		overflow: auto;
	}

		.editor > .menu-bar .action-list.adventure {
			float: left;
		}

		.editor > .menu-bar .action-list.playback {
			float: right;
		}

		.editor > .menu-bar .action {
			display: inline;
		}
		
		.editor > .menu-bar select, .editor > .menu-bar input {
			width: 12em;
		}

		.editor > .menu-bar .action:not(:last-child) {
			margin-right: 0.5em;
		}

		.editor > .menu-bar label:after {
			content: ": ";
		}
		
		.editor > .menu-bar form {
			display: inline;
		}

.view-list {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 4em;
}
	
	.view-list > .tab-list {
		position: absolute;
		left: 2em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.view-list > .tab-content-list {
		height: 100%;
		width: 100%;
		padding: 2em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
		
		.view-list > .tab-content-list > * {
			width: 100%;
			height: 100%;
		}
		
		.list-view, .detail-view {
			/* Simulate a border below the tabs. */
			border-top: 1px solid hsl(0, 0%, 25%);
		}

		.list-view {
			float: left;
			clear: left;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 40%;
			height: 100%;
			padding-top: 1em;
			overflow: auto;
		}

			.list-item {
				position: relative;
				display: block;
				margin-bottom: 0.5em;
				border-width: 1px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.list-item:hover {
				cursor: pointer;
				background-color: hsl(0, 0%, 12.5%);
			}
			
			.list-item.selected {
				background-color: hsl(220, 50%, 20%);
				border-color: hsl(220, 50%, 50%);
			}
			
				.list-item a {
					display: block;
					width: 100%;
					height: 100%;
					color: inherit;
					text-decoration: inherit;
				}
			
					.list-item .preview {
						display: inline-block;
						vertical-align: middle;
						width: 5em;
						height: 2.8125em; /* Widescreen ratio */
						margin-right: 0.5em;
					}
						.list-item .preview .text.outer {
							font-size: 5em; /* Text inside will be scaled relative to the box's width. */
						}	
					
					.list-item .key {
						opacity: 0.5;
					}
					
					.list-item .key:before {
						content: "(";
					}
					
					.list-item .key:after {
						content: ")";
					}
					
					.list-item .icons {
						position: absolute;
						right: 0;
						top: 0;
						line-height: 2.8125em;
						margin-right: 0.75em;
					}
					
						.list-item .icons img {
							opacity: 0.35;
							border: 0;
						}

			.add-item {
				display: block;
				padding: 0 1em;
			}

			.add-item button {
				width: 100%;
				font-size: 1.5em;
				padding: 0.25em;
			}

		.detail-view {
			float: right;
			clear: right;
			width: 60%;
			height: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding-top: 1em;
			padding-left: 1em;
			overflow: auto;
		}

			.selected-item {
				padding: 1em;
				border-width: 1px;
				overflow: hidden;
			}

				.selected-item .action-list {
					overflow: auto;
					margin-bottom: 1em;
				}

				.selected-item .action {
					display: block;
					float: left;
				}

				.selected-item .action:not(:last-child) {
					margin-right: 0.5em;
				}

				.selected-item .action.remove {
					float: right;
				}
				
				.selected-item .preview {
					float: left;
					width: 10em;
					height: 5.625em; /* Widescreen ratio */
					margin-bottom: 1em;
					margin-right: 1em;
					border-width: 1px;
				}
					.selected-item .preview .text.outer {
						font-size: 10em; /* Text inside will be scaled relative to the box's width. */
					}
				
				.selected-item .tab-list {
					overflow: auto;
					margin-top: 0.5em;
				}
				
				.selected-item .tab-content-list > * {
					padding: 1em;
					border: 1px solid hsl(0, 0%, 25%);
				}
				
				.options.general table {
					min-width: 8em;
				}

				.options table {
					border-collapse: collapse;
				}

				.options td, .options th {
					padding: 0 0.25em;
					line-height: 2em;
				}

				.options th {
					font-weight: normal;
					text-align: right;
					vertical-align: top;
					white-space: nowrap;
				}

				.options th label:after {
					content: ":";
				}

				.options td {
					width: 100%;
				}
				
				.options td.secondary  {
					width: auto;
					vertical-align: top;
					white-space: nowrap;
				}

				.options input[type=text],
				.options textarea,
				.options input[type=range] {
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					width: 100%;
				}

				.options.specific {
					clear: both;
				}
				
					.options.specific table {
						width: 100%;
					}
				
				.control-list, .control-list > * {
					display: inline;
				}
				
				.control-list > *{
					padding-right: 0.5em;
				}
				
				.unsupported {
					color: hsl(0, 75%, 50%);
				}

				.unsupported:before {
					content: "Unsupported format: ";
				}
}

.unsupported:before {
	content: "Unsupported format: ";
}
	
	.notice {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		padding: 1.5em;
		font-size: 1.5em;
		line-height: 2;
		text-align: center;
	}
	
		.notice button {
			font-size: 0.67em;
		}
	
	.enclosed-view {
		height: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		border: 1px solid hsl(0, 0%, 25%);
		padding: 1.5em;
		overflow: auto;
	}
		
		.enclosed-view h2 {
			font-weight: normal;
			font-size: 1.5em;
			color: hsl(60, 75%, 50%);
		}
		
		.enclosed-view p, .enclosed-view ul {
			margin-bottom: 1em;
		}
		
		.enclosed-view ul {
			margin-left: 2em;
			margin-right: 2em;
		}
		
		.enclosed-view li {
			display: list-item;
		}
		
		.enclosed-view ul li {
			list-style-type: square;
		}
		
		.enclosed-view ul.controls {
			margin-left: 0;
			margin-right: 0;
		}
		
			.enclosed-view ul.controls li {
				list-style-type: none; 
			}
		
		.enclosed-view a:link {
			color: hsl(60, 75%, 50%);
		}
		
		.enclosed-view a:visited {
			color: hsl(60, 50%, 40%);
		}
		
		.enclosed-view a:hover {
			color: hsl(60, 100%, 50%);
		}
		
		.enclosed-view dfn {
			font-weight: bold;
			font-style: normal;
		}
		
		.help-document button {
			height: 1.5em;
		}

.theater-overlay {
	right: 0;
}

	.theater-overlay form {
		float: left;
		padding: 1em;
	}

/* Ambience styling */

.theater {
	right: 0;
	width: 100%;
	background-color: black;
	overflow: hidden;
}

	.theater .layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		cursor: inherit;
	}

		.theater .layer .image {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 100%;
		}

		.theater .layer .text.outer {
			position: relative; /* Needs to be positioned to stack above image, which is also positioned. */
			display: table;
			height: 100%;
			margin: 0 auto;
			font-family: serif;
		}

		.theater .layer .text.inner {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			white-space: pre-line;
			text-rendering: optimizeLegibility;
		}

/* Splash screen styling */

.splash {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsl(0, 0%, 10%);
	color: white;
	font-family: Constantia, Georgia, serif;
	font-size: 1em;
	line-height: 2;
	text-align: center;
}

	.splash > * {
		display: table-cell;
		vertical-align: middle;
	}
	
	.splash p {
		font-weight: normal;
		font-size: 2em;
		line-height: 2;
	}
	
	.splash p.note {
		font-size: 1.5em;
	}
	
	.splash ul {
		display: block;
		margin: 1em 0;
		font-size: 1.5em;
	}
	
	.splash ul.buttons + ul.buttons {
		margin-top: 2em;
		font-size: 1.25em;
	}
	
		.splash ul.buttons li {
			display: inline-block;
			margin: 0 1em;
			border: 1px solid hsl(0, 0%, 25%);
			line-height: 1;
		}
		
		.splash ul.buttons li:hover {
			background-color: hsl(0, 0%, 12.5%);
		}
		
		.splash ul.buttons button {
			display: block;
			padding: 1em;
			border: 0;
			color: inherit;
			background-color: transparent;
		}

		.splash img {
			display: block;
			margin: 0 auto;
			margin-bottom: 1em;
			width: 5em;
		}
		
		.splash ul.buttons p {
			font-size: 1em;
			line-height: 1.5;
		}
		
		.splash ul.buttons p.note {
			font-size: 0.75em;
		}
		
/* Scene previews, used in several places */

.preview {
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.preview .text.outer {
	display: table;
	height: 100%;
	margin: 0 auto;
	font-family: serif;
}

.preview .text.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	white-space: pre-line;
	text-rendering: optimizeLegibility;
}

/* Splitter */

.splitter {
	position: absolute;
	top: 0;
	right: 0;
	width: 0.25em;
	height: 100%;
	cursor: w-resize;
	border-left-width: 1px;
	border-right-width: 1px;
	background-color: hsl(0, 0%, 10%);
	border-color: hsl(0, 0%, 25%);
}

/* Number input polyfill */

.sp-replacer {
	padding: 0.25em;
}

.sp-preview {
	width: 1.5em;
	height: 1em;
	margin-right: 0.25em;
}

.sp-dd {
	height: 1em;
	padding: 0.125em 0;
	font-size: 0.625em;
}
