* {
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	background-color: black;
}

#theater {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	cursor: inherit;
}

.layer .image {
	position: absolute;
	top: 0;
	left: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	width: 100%;
	height: 100%;
}

.layer .video {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.layer .text {
	display: table;
	height: 100%;
	margin: 0 auto;
}

.layer .text div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	white-space: pre;
	text-rendering: optimizeLegibility;
}

#editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	visibility: hidden;
}

#editor textarea {
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 1em;
}

#theater.compressed {
	width: 50%;
}

#menu {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	cursor: auto;
}

#menu p {
	margin: 0.5em 0;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5em;
}

#menu form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}