* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-color: black;
}

#menu {
	display: table;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
}

#menu p {
	margin: 0.5em 0;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.5em;
}

#menu form {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.stage {
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
}

.stage video {
	display: block;
	width: 100%;
	height: 100%;
}

.stage span {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-rendering: optimizeLegibility;
}

#command-form {
	position: absolute;
	top: 0;
}