/* Default styling */

* {
	margin: 0;
	padding: 0;
}

li {
	display: block;
	list-style-type: none;
}

*[title] {
	cursor: help;
}

label[for] {
	cursor: pointer;
}

button, input, select, textarea {
	font-size: 1em;
}

button, input[type=checkbox] {
	cursor: pointer;
}

button {
	padding: 0.25em;
}

input, textarea {
	padding: 0.125em 0.25em;
}

input[type=number] {
	width: 3em;
}

/* Border styles overridden in themes */

div, li {
	border-width: 0;
	border-style: solid;
	border-color: white;
}

/* Multi-purpose classes */

.note {
	opacity: 0.5;
}

.tab {
	display: block;
	float: left;
}

.tab.ui-tabs-selected, .tab:hover {
	border-bottom-width: 2px;
}

.tab:not(:last-child) {
	border-right-width: 0;
}

.ui-tabs-hide {
	display: none;
}

	.tab a {
		display: block;
		padding: 0.25em 0.5em;
		text-decoration: none;
	}

.ui-sortable-helper {
	cursor: move !important;
}

/* Layout */

html {
	width: 100%;
	height: 100%;
	background-color: black; /* This is needed when browsers round percentage values down, creating a gap between the editor and the theater. */
}

body {
	width: 100%;
	height: 100%;
}

.editor, .theater {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.editor {
	left: 0;
	line-height: 1.5;
	overflow: auto;
	color: white;
}

	.editor > .menu-bar {
		position: absolute;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		width: 100%;
		line-height: 2em;
		padding: 1em 2em 0 2em;
		overflow: auto;
	}

		.editor > .menu-bar .action-list.adventure {
			float: left;
		}

		.editor > .menu-bar .action-list.playback {
			float: right;
		}

		.editor > .menu-bar .action {
			display: inline;
		}

		.editor > .menu-bar .action:not(:last-child) {
			margin-right: 0.5em;
		}

		.editor > .menu-bar .action a {
			white-space: nowrap;
		}

		.editor > .menu-bar label:after {
			content: ": ";
		}

.message {
	clear: both;
	margin: 1em 2em;
	padding: 0.5em;
	text-align: center;
	overflow: auto;
}

	.message button {
		float: right;
	}

	.message .text, .message button {
		vertical-align: middle;
}


.view-list {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 4em;
}
	
	.view-list > .tab-list {
		position: absolute;
		left: 2em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

	.view-list > .tab-content {
		height: 100%;
		width: 100%;
		padding: 2em;
		padding-top: 3em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}

		.list-view {
			float: left;
			clear: left;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 40%;
			height: 100%;
			overflow: auto;
		}

			.list-item {
				position: relative;
				display: block;
				margin-bottom: 1em;
				border-width: 1px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			
			.list-item:hover {
				cursor: pointer;
			}
			
				.list-item a {
					display: block;
					width: 100%;
					height: 100%;
					color: inherit;
					text-decoration: inherit;
				}
			
					.list-item .preview {
						display: inline-block;
						vertical-align: middle;
						width: 5em;
						height: 2.8125em; /* Widescreen ratio */
						margin-right: 0.5em;
					}
						.list-item .preview .text.outer {
							font-size: 5em; /* Text inside will be scaled relative to the box's width. */
						}	
					
					.list-item .key {
						opacity: 0.5;
					}
					
					.list-item .key:before {
						content: "(";
					}
					
					.list-item .key:after {
						content: ")";
					}
					
					.list-item .icons {
						position: absolute;
						right: 0;
						top: 0;
						line-height: 2.8125em;
						margin-right: 0.75em;
					}
					
						.list-item .icons img {
							opacity: 0.35;
						}

			.add-item {
				display: block;
				padding: 0 1em;
			}

			.add-item button {
				width: 100%;
				font-size: 1.5em;
				padding: 0.25em;
			}

		.detail-view {
			float: right;
			clear: right;
			width: 60%;
			height: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding-left: 1em;
			overflow: auto;
		}

			.selected-item {
				padding: 1em;
				border-width: 1px;
				overflow: hidden;
			}

				.selected-item .action-list {
					overflow: auto;
					margin-bottom: 1em;
				}

				.selected-item .action {
					display: block;
					float: left;
				}

				.selected-item .action:not(:last-child) {
					margin-right: 0.5em;
				}

				.selected-item .action.remove {
					float: right;
				}
				
				.selected-item .preview {
					float: left;
					width: 10em;
					height: 5.625em; /* Widescreen ratio */
					margin-bottom: 1em;
					margin-right: 1em;
					border-width: 1px;
				}
					.selected-item .preview .text.outer {
						font-size: 10em; /* Text inside will be scaled relative to the box's width. */
					}
				
				.selected-item .tab-list {
					overflow: auto;
					margin-top: 0.5em;
				}
				
				.selected-item .tab-content {
					padding: 1em;
				}

				.options.general table {
					min-width: 8em;
				}

				.options table {
					border-collapse: collapse;
				}

				.options td, .options th {
					padding: 0.125em;
				}

				.options th {
					font-weight: normal;
					text-align: right;
					vertical-align: top;
					white-space: nowrap;
				}

				.options th label:after {
					content: ":";
				}

				.options td {
					width: 100%;
				}
				
				.options td.remove {
					vertical-align: top;
				}

				.options input[type=text],
				.options textarea,
				.options input[type=range] {
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					width: 100%;
				}

				.options.specific {
					clear: both;
				}
				
				.modifier-list .modifier {
					display: block;
					float: left;
					margin-right: 1em;
				}

				.item-list .item {
					display: table;
					width: 100%;
					margin: 0.5em 0;
					cursor: move;
				}

				.item-list .item:first-child {
					margin-top: 0;
				}

					.item-list .item .content {
						display: table-cell;
						width: 100%;
					}
					
					.item-list .item .move {
						display: table-cell;
						padding-right: 0.5em;
					}
					
						.item-list .item .move img {
							opacity: 0.35;
						}

					.item-list .item .remove {
						display: table-cell;
						padding-left: 0.5em;
					}

/* Ambience styling */

.theater {
	right: 0;
	background-color: black;
	overflow: hidden;
}

	.theater .instructions.outer {
		position: absolute;
		display: table;
		width: 100%;
		height: 100%;
	}

		.theater .instructions.inner {
			display: table-cell;
			vertical-align: middle;
			padding: 2em;
		}

		.theater .instructions p {
			text-align: center;
			font-family: Georgia, serif;
			color: white;
			font-size: 1.25em;
			margin: 1em 0;
		}

	.theater .action-form {
		position: absolute;
		top: 1em;
		left: 1em;
		z-index: 1;
	}

		.theater .action {
			display: inline;
		}

		.theater .action:not(:last-child) {
			margin-right: 0.5em;
		}

	.theater .layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		cursor: inherit;
	}

		.theater .layer .image {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 100%;
		}

		.theater .layer .text.outer {
			position: relative; /* Needs to be positioned to stack above image, which is also positioned. */
			display: table;
			height: 100%;
			margin: 0 auto;
			font-family: serif;
		}

		.theater .layer .text.inner {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			white-space: pre-line;
			text-rendering: optimizeLegibility;
		}

/* Scene previews, used in several places */

.preview {
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.preview .text.outer {
	display: table;
	height: 100%;
	margin: 0 auto;
	font-family: serif;
}

.preview .text.inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
	white-space: pre-line;
	text-rendering: optimizeLegibility;
}

/* Splitter */

.splitter {
	position: absolute;
	top: 0;
	right: 0;
	width: 0.25em;
	height: 100%;
	border-left-width: 1px;
	border-right-width: 1px;
	cursor: w-resize;
}