.editor {
	background-color: hsl(0, 0%, 5%);
	color: hsl(0, 0%, 75%);
}

.editor, button, select, input, textarea {
	font-family: Georgia, serif;
}

.message {
	background-color: hsl(60, 75%, 50%);
	color: black;
}

.list-item:hover, .list-item.selected {
	background-color: hsl(0, 0%, 15%);
}

.list-item,
.selected-item,
.detail-view .preview,
.tab,
.tab-content {
	border: 1px solid hsl(0, 0%, 25%);
}

.tab {
	border-bottom-width: 0;
}

input, select, textarea {
	background-color: black;
	color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 25%);
}

.splitter {
	border-color: hsl(0, 0%, 25%);
}

.tab a {
	color: hsl(0, 0%, 75%);
}