div, li {
	border-color: hsl(0, 0%, 25%);
}

.editor {
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 75%);
}

.editor, button, select, input, textarea {
	font-family: Georgia, serif;
}

.message {
	background-color: hsl(60, 75%, 50%);
	color: black;
}

.tab {
	background-color: hsl(0, 0%, 10%);
	border: 1px solid hsl(0, 0%, 25%);
	border-bottom-width: 0;
	margin-right: 0.5em;
}

.tab a {
	color: hsl(0, 0%, 75%);
}

.list-item.selected {
	background-color: hsl(220, 50%, 20%);
	border-color: hsl(220, 50%, 50%);
}

.ui-tabs-selected {
	background-color: hsl(0, 0%, 17.5%);
}

.list-item:hover:not(.selected), .tab:hover:not(.ui-tabs-selected) {
	background-color: hsl(0, 0%, 12.5%);
}

.selected-item .tab-content {
	border: 1px solid hsl(0, 0%, 25%);
}

input[type=text], input[type=number], input[type=color], select, textarea {
	background-color: black;
	color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 25%);
}

.splitter {
	border-color: hsl(0, 0%, 25%);
}

.note {
	color: hsl(0, 0%, 40%);
}

.unsupported {
	color: hsl(0, 75%, 50%);
}

.unsupported:before {
	content: "Unsupported format: ";
}
