div, li {
	border-color: hsl(0, 0%, 25%);
}

.editor {
	background-color: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 75%);
}

.editor, button, select, input, textarea {
	font-family: Georgia, serif;
}

.menu-bar a {
	color: hsl(210, 100%, 50%);
	text-decoration: none;
	border-bottom: 1px solid hsl(210, 100%, 25%);
}

.message {
	background-color: hsl(60, 75%, 50%);
	color: black;
}

.list-item.selected, .ui-tabs-selected {
	background-color: hsl(0, 0%, 17.5%);
}

.list-item:hover:not(.selected), .tab:hover:not(.ui-tabs-selected) {
	background-color: hsl(0, 0%, 12.5%);
}

.tab {
	border-bottom-width: 0;
}

.tab a {
	color: hsl(0, 0%, 75%);
}

input[type=text], input[type=number], input[type=color], select, textarea {
	background-color: black;
	color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 25%);
}

.splitter {
	border-color: hsl(0, 0%, 25%);
}