html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1vw;
}

html {
	background: black;
}

p {
	margin: 1em 0;
	text-align: center;
	color: white;
	font-family: Constantia;
}

.action {
	font-style: italic;
	padding: 0.35em;
	line-height: 2;
	color: white !important;
	text-decoration: none;
	border-radius: 0.1875em;
	border: 0.0625em solid hsl(220, 50%, 50%);
	background-color: hsl(220, 100%, 50%);
	background-image: -webkit-linear-gradient(
		top,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.5) 100%
	);
	background-image: -moz-linear-gradient(
		top,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.5) 100%
	);
	text-shadow: 0.0625em 0.0625em 0.0625em black;
	box-shadow: 0 0 0.5em black;
}

.action:hover {
	background-color: hsl(220, 100%, 45%);
}

.action.navigate:before {
	content: "» ";
}

.ambience, .information {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}

.information {
	display: table;
}

.primary {
	display: table-cell;
	vertical-align: middle;
}

.secondary {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 1em;
}

a {
	color: hsl(210, 100%, 50%);
	text-decoration: none;
	border-bottom: 0.0625em solid hsl(210, 100%, 50%);
}

a:hover {
	color: hsl(210, 100%, 60%);
}

/* Ambience styling */
.ambience {
	overflow: hidden;
}

	.ambience .layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
		cursor: inherit;
	}

		.ambience .layer .image {
			position: absolute;
			top: 0;
			left: 0;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			display: block;
			width: 100%;
			height: 100%;
		}

		.ambience .layer .text.outer {
			position: relative; /* Needs to be positioned to stack above image, which is also positioned. */
			display: table;
			height: 100%;
			margin: 0 auto;
			font-family: serif;
		}

		.ambience .layer .text.inner {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: white;
			white-space: pre-line;
			text-rendering: optimizeLegibility;
		}