* {
	margin: 0;
	padding: 0;
}

details, summary {
	display: block;
}

details.open table {
	display: table;
}

summary[tabindex]:before {
	content: "▶ ";
}

details.open summary[tabindex]:before {
	content: "▼ ";
}

label:after {
	content: ":";
}

label[for] {
	cursor: pointer;
}

button, input, select, textarea {
	font-size: 1em;
}

button, summary, input[type=checkbox] {
	cursor: pointer;
}

button {
	padding: 0.25em;
}

input, textarea {
	padding: 0.125em 0.25em;
}

input[type=number] {
	width: 3em;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

.editor, .theater {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
}

.editor {
	width: 70%;
}

.theater {
	width: 30%;
}

.splitter {
	position: absolute;
	top: 0;
	right: 0;
	width: 0.25em;
	height: 100%;
	border: 1px solid black;
	border-top-width: 0;
	border-bottom-width: 0;
	cursor: w-resize;
}

.editor {
	left: 0;
	line-height: 1.5;
	overflow: auto;
}

.editor-action-list {
	padding: 1em 2em 0 2em;
	text-align: right;
}

.note {
	opacity: 0.5;
}

.preview {
	background-position: center center;
	background-repeat: no-repeat;
}

.preview img {
	display: block;
	width: 100%;
}

.list-view {
	float: left;
	width: 40%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1em 0.5em 2em 2em;
}

.list-item {
	position: relative;
	display: block;
	border: 1px solid black;
	margin-bottom: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-item:hover, .list-item.selected {
	cursor: pointer;
}

.list-item.ui-sortable-helper {
	cursor: move;
}

.list-item .preview {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 2.8125em; /* Widescreen ratio */
	margin-right: 0.5em;
}

.list-item .key {
	opacity: 0.5;
}

.list-item .key:before {
	content: "(";
}

.list-item .key:after {
	content: ")";
}

.add-item {
	display: block;
	margin-bottom: 1em;
	padding: 0 1em;
}

.add-item button{
	width: 100%;
	font-size: 1.5em;
	padding: 0.25em;
}

.detail-view {
	float: right;
	width: 60%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 1em 2em 2em 0.5em;
}

.selected-item {
	border: 1px solid black;
	padding: 1em;
}

.action-list {
	overflow: auto;
	margin-bottom: 1em;
}

.action {
	display: block;
	float: left;
}

.action.remove {
	float: right;
}

.detail-view .preview {
	width: 15em;
	padding-top: 8.439em; /* Widescreen ratio */
	margin-bottom: 1em;
	margin-right: auto;
}

.detail-view summary {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.options table {
	border-collapse: collapse;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-left: 1px solid black;
}

.options td, .options th {
	padding: 0.125em;
}

.options th {
	font-weight: normal;
	text-align: right;
	padding-left: 1em;
}

.theater {
	right: 0;
	background-color: black;
}

.toggle {
	position: absolute;
	top: 1em;
	left: 1em;
}