* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia;
	line-height: 1.5;
	padding: 2em;
	overflow: auto;
}

label:after {
	content: ":";
}

label[for] {
	cursor: pointer;
}

button, summary, input[type=checkbox] {
	cursor: pointer;
}

input[type=number] {
	width: 3em;
}

.note {
	opacity: 0.5;
}

.preview {
	background-position: center center;
	background-repeat: no-repeat;
}

.preview img {
	display: block;
	width: 100%;
}

.list-view {
	float: left;
	width: 20em;
	margin-right: 1em;
}

.list-item {
	position: relative;
	display: block;
	border: 1px solid black;
	margin-bottom: 1em;
	padding: 1em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-item:hover, .list-item.selected {
	cursor: pointer;
	background-color: hsl(0, 0%, 90%);
}

.list-item.ui-sortable-helper {
	cursor: move;
}

.list-item .preview {
	display: inline-block;
	vertical-align: middle;
	width: 5em;
	height: 2.8125em; /* Widescreen ratio */
	margin-right: 0.5em;
}

.list-item .key {
	opacity: 0.5;
}

.list-item .key:before {
	content: "(";
}

.list-item .key:after {
	content: ")";
}

.add-item {
	display: block;
	border: 1px solid black;
	margin-bottom: 1em;
	padding: 1em;
}

.add-item button{
	width: 100%;
	font-size: 2em;
	padding: 0.25em;
}

.detail-view {
	float: left;
	width: 25em;
	border: 1px solid black;
	padding: 1em;
}

.action-list {
	overflow: auto;
	margin-bottom: 1em;
}

.action {
	display: block;
	float: left;
}

.action.remove {
	float: right;
}

button.action {
	font-size: 1em;
	padding: 0.25em;
}

.detail-view .preview {
	width: 25em;
	height: 14.0625em; /* Widescreen ratio */
	margin-bottom: 1em;
}

.detail-view summary {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.options table {
	border-collapse: collapse;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-left: 1px solid black;
}

.options td, .options th {
	padding: 0.125em;
}

.options th {
	font-weight: normal;
	text-align: right;
	padding-left: 1em;
}