body {
	background-color: black;
	background-image: url('scanline.png');
	background-color: hsl(0, 0%, 10%);
	color: hsl(190, 100%, 50%);
	text-shadow: 0 0 1em hsl(190, 100%, 50%);
}

body, button, select, input, textarea {
	font-family: Corbel, sans-serif;
}

div, li {
	border-color: hsl(190, 100%, 25%) !important;
}

input, select, textarea {
	background-color: black;
	color: white;
	border: 1px solid hsl(190, 100%, 25%);
	font-size: 1em;
}

input, textarea {
	padding: 0.125em 0.25em;
}

.options table {
	border-color: hsl(190, 100%, 25%);
}

.note {
	opacity: 0.65;
}

.list-item:hover, .list-item.selected {
	background-color: hsl(190, 50%, 10%);
}