div.preview {
	float: left;
	width: 10em;
	margin-right: 1em;
}

div.preview img {
	width: 100%;
}

div.preview button {
	width: 100%;
}

div.options {
	float: left;
}

.note, .hint {
	opacity: 0.5;
}

.hint {
	visibility: hidden;
}

input:focus + .hint, input:hover + .hint {
	visibility: visible;
}

label:after {
	content: ":";
}

fieldset {
	position: relative;
	margin: 1em;
}

.add-scene fieldset {
	border-style: dashed;
	border-color: hsl(0, 0%, 75%);
}

.add-scene button {
	width: 100%;
	font-size: 2em;
}

button.remove {
	position: absolute;
	top: 1em;
	right: 1em;
}