* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia;
	line-height: 1.5;
}

div.content {
	padding: 1em;
}

div.move {
	float: left;
	width: 1em;
	margin-right: 0.5em;
}

div.move button {
	font-size: 0.75em;
}

div.preview {
	float: left;
	width: 10em;
	margin-right: 1em;
}

div.preview img {
	display: block;
	width: 100%;
}

div.preview button {
	width: 100%;
}

.options {
	float: left;
}

.options table {
	border-collapse: collapse;
	margin-left: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-left: 1px solid black;
}

.options td, .options th {
	padding: 0.125em;
}

.options th {
	font-weight: normal;
	text-align: right;
	padding-left: 1em;
}

.note {
	opacity: 0.5;
}

label:after {
	content: ":";
}

.scenes > li {
	position: relative;
	display: block;
	overflow: auto;
	border: 1px solid hsl(0, 0%, 50%);
	margin: 1em;
	padding: 1em;
}

button.remove {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}

.add-scene div {
	border: 1px dashed hsl(0, 0%, 75%);
}

.add-scene button {
	width: 100%;
	font-size: 2em;
}

input[type=number] {
	width: 3em;
}